@page "/"
@using global::Shared.Models
@using BlazorWasm.Service
@inject DemoService demoService

<h3>Hello Message:</h3>
@if (string.IsNullOrEmpty(errorMessage))
{
    <p>@helloMessage</p>
}
else
{
    <p>Error occurred while fetching hello message: @errorMessage</p>
}

@code {
    private string helloMessage;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string accessToken = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJtYW5hZ2VyQG1haWwuY29tIiwiaWF0IjoxNjg0NTAxMTExLCJleHAiOjE2ODQ1ODc1MTF9.-iDvbaw4QOOu8T7HIBZDBaq95rPG3viriXwqYQ5RMmo";
            helloMessage = await demoService.GetHelloMessageAsync(accessToken);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}