@page
@using global::Shared.Models
@model ClientSideBlazor.Pages.CalendarModel

@{
    ViewData["Title"] = "Calendar";
}

<h3>Calendar</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            @for (int i = 0; i < 7; i++)
            {
                var currentDate = Model.WeekStart.AddDays(i);
                <th>@currentDate.ToString("dddd")</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @for (int i = 0; i < 7; i++)
            {
                var currentDate = Model.WeekStart.AddDays(i);
                <td>
                    <div class="day-box">
                        @if (Model.EventsByDay.ContainsKey(currentDate))
                        {
                            foreach (var evt in Model.EventsByDay[currentDate])
                            {
                                <div class="event">
                                    <span class="event-title">@evt.Title</span>
                                </div>
                            }
                        }
                        <div class="add-box-container">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exerciseModal">Add Button</button>
                        </div>
                        <div id="todoBoxContainer-@currentDate.ToString("yyyy-MM-dd")">
                            @if (Model.ToDoBoxes.ContainsKey(currentDate))
                            {
                                foreach (var box in Model.ToDoBoxes[currentDate])
                                {
                                    <div class="to-do-box">
                                        <span>@box</span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </td>
            }
        </tr>
    </tbody>
</table>



<div class="modal fade" id="exerciseModal" tabindex="-1" role="dialog" aria-labelledby="exerciseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exerciseModalLabel">Exercise Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_ExerciseForm", new ExerciseModel(Model.ReturningExerciseService()))
            </div>
        </div>
    </div>
</div>


<style>
    .day-box {
        padding: 10px;
    }

    .event {
        background-color: lightblue;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 5px;
    }

    .event-title {
        font-weight: bold;
    }

    .add-box-container {
        margin-top: 10px;
    }

    .to-do-box {
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 5px;
    }
</style>

@section Scripts {
    <script>
        function showModal() {
            $('#showmodal').modal('show');
        }
    </script>
}
